<html>

<head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="./img/weather.png" />
<title>Help</title>

</head>

<body>
    <div class="main-content">
    {{>header}}
    <h1>{{forecast}}</h1>
    </div>
    {{>footer}}
</body>

</html>