<html>

<head>
    <title></title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <h1>{{hamro}}</h1>
    <p>{{tmro}}</p>
    <script src='./js/app.js'></script>
</body>

</html>